{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="col-sm-3">
   <ul class="list-group">
	  <a href="{% url 'hospedajes:my_hospedajes' user.id %}" class="list-group-item">Mis Hospedajes</a>
	  <a class="list-group-item" href="{% url 'reservas:my_list_rental' user.id %}" >Mis Alquileres</a>
	  <a class="list-group-item" href="{% url 'reservas:my_list_booking' user.id %}" >Mis Reservas</a>
	  <a class="list-group-item" href="#">Mis Calificaciones</a>	
    </ul>
</div>
<div class="col-sm-9">
	<div class="content">
	    	{% block menus %}
	    	{% endblock menus %}
    </div>
</div>
{% endblock %}