{% extends 'base.html' %}
{% block content %}
    <div style="text-align:center">
      <h1>Seleccione un tipo de cuenta</h1>
    </div>
    </br>
    <div class="container">
	    <div class="row">
		    <div class="col-sm-6">
			    <div class="panel panel-default">
			    	<div class="panel-heading">
			    		Cliente Comun
			    	</div>
			        <div class="panel-body">
			    		<span>Tendras acceso a todas la funcionalidades del sitio.Como reservar, publicar hospedajes, calificar y comentar.y mas sanata qeu hay qeu poner</span>
			        </div>
			        <div class="panel-footer"><a href="{% url 'customers:create_user_client' %}" class="open_modal" height-popup="40%">Crear Cuenta</a></div>
				</div>
		    </div>
		    <div class="col-sm-6">
				<div class="panel panel-primary">
			    	<div class="panel-heading">
			    		Cliente Premiun
			    	</div>
			        <div class="panel-body">
			    		<span>Tendras acceso a todas la funcionalidades del sitio.Como reservar, publicar hospedajes, calificar y comentar.y mas sanata qeu hay qeu poner</span>
			        </div>
			        <div class="panel-footer"><a href="{% url 'customers:create_user_premium' %}" class="open_modal" height-popup="40%">Crear Cuenta</a></div>
				</div>
		    </div>
		</div>
    </div>
{% endblock content %}