{% extends 'admin/menu_admin.html' %}
{% load bootstrap %}
{% block menus_admin %}
        <h2>Tipo de Hospedajes</h2>
		 <table class="table">
		    <thead>
		      <tr>
		        <th>Descripción</th>
		        <th>Estado</th>
		        <th>Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		    	{% for tipo in tipos %}
			      <tr>
			        <td>{{tipo.descripcion}}</td>
			        <td>{% if tipo.activo %}
                           <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                           <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
			        </td>
			        <td>
			        	<a href="{% url 'hospedajes:edit_type' tipo.id %}" class=" open_modal" height-popup="100%" ><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="open_modal" height-popup="60%" href="{% url 'hospedajes:delete_type' tipo.id %}">
                            {% if tipo.activo %}
                        		<span class="glyphicon glyphicon-trash"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-repeat"></span>
                            {% endif %}
                        </a>
			        </td>
			      </tr>
			    {% empty %}
			      <tr>
			          <td>No hay ningun tipo de hospedaje</td>
			      </tr>
			    {% endfor %}
		    </tbody>
		  </table>

						
<a href="{% url 'hospedajes:add_type' %}" height-popup="80%" type="submit" class="btn btn-primary open_modal">Agregar</a>
	

{% endblock menus_admin %}