{% extends 'base.html' %}
{% load bootstrap %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
 <div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            {% if user.admin or user.premium %}
                <img src="{% static 'img/privates.jpg' %}" alt="">
            {% else %}
                <img src="{% static 'img/none.jpg' %}" alt="">
            {% endif %}
            <div class="caption">
                <h4>Habitacion Paraiso</a>
                </h4>
                <p>En la Ciudad de mar del plata. Esta a 3 cuadras de la calle...</p>
                <a class="btn btn-primary pull-right" href="{% url 'hospedajes:view_detail' %}">ver Detalle</a>
            </div>
                </br>
        
        </div>
    </div>

    
{% endblock content %}