{% extends 'base.html' %}
{% load bootstrap %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
 <div class="row">
    {% for hospedaje in hospedajes %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                {% if user.admin or user.premium %}
                    <img src="{{hospedaje.foto_1}}" alt="">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="">
                {% endif %}
                <div class="caption">
                    <h4>{{hospedaje.titulo}}</h4>
                    <p>{{hospedaje.descripcion}}</p>
                    <a class="btn btn-primary pull-right" href="{% url 'hospedajes:view_detail' hospedaje.id %}">ver Detalle</a>
                </div>
                    </br>
            
            </div>
    </div>
    {% endfor %}
   
    
{% endblock content %}