{% extends 'base.html' %}
{% load bootstrap %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="container"> 
	<h3> Detalles de hospedaje</h3>
	<div class="panel panel-default">
			<div class="panel-body">

				
				  	<div class="col-xs-6">
				  		 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		                    <ol class="carousel-indicators">
		                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		                    </ol>
					  		<div class="carousel-inner">
					  		{% if hospedaje.foto_1%}
		                        <div class="item active">
		                            <img class="slide-image" style="max-width: 95%;" src="{{hospedaje.foto_1.url}}">
		                        </div>
		                    {% endif %}
	                        {% if hospedaje.foto_2%}
		                        <div class="item">
		                            <img class="slide-image" style="max-width: 95%;" src="{{hospedaje.foto_2.url}}" alt="">
		                        </div>
	                        {% endif %}
	                        {% if hospedaje.foto_3%}
		                        <div class="item">
		                            <img class="slide-image" style="max-width: 95%;" src="{{hospedaje.foto_3.url}}" alt="">
		                        </div>
	                        {% endif %}
	                        {% if hospedaje.foto_4%}
		                        <div class="item">
		                            <img class="slide-image" style="max-width: 95%;" src="{{hospedaje.foto_4.url}}" alt="">
		                        </div>
	                        {% endif %}
	                        {% if hospedaje.foto_5%}
		                        <div class="item">
		                            <img class="slide-image" style="max-width: 95%;" src="{{hospedaje.foto_5.url}}" alt="">
		                        </div>
	                        {% endif %}
	                        {% if not hospedaje.foto_1 %}
	                            {% if not hospedaje.foto_2 %}
	                                {% if not hospedaje.foto_3 %}
	                                    {% if not hospedaje.foto_4 %}
	                                        {% if not hospedaje.foto_5 %}
							                    <div class="item">
											      	    <img class="media-object " style="max-width: 95%;" src="{% static 'img/default.png' %}" alt="...">
											  	</div>
											{% endif %}
									    {% endif %}
									{% endif %}
							    {% endif %}
							{% endif %}
						    </div>
						    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                           </a>
		                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		                        <span class="glyphicon glyphicon-chevron-right"></span>
		                    </a>
				        </div>
				    </div>
			        <div class="col-xs-6 ">
					    <h4 class="media-heading">{{hospedaje.titulo}}</h4>
					    <p>{{ hospedaje.descripcion }}</p>
					    <p>Tipo de Hospedaje: {{hospedaje.tipo.descripcion}}</p>
					    <p>Localidad: {{ hospedaje.localidad }}</p>
					    <p>Ciudad: {{ hospedaje.ciudad }}</p>
					    <p>Calle: {{ hospedaje.direccion }}</p>
					    <p>Capacidad:{{ hospedaje.capacidad }}</p>
				  		{% if user.premium or user.admin or user.cliente %}
					    	<a class="btn btn-primary open_modal" height-popup="60%" href="{% url 'reservas:make_booking' hospedaje.id user.id %}">Reservar</a>
				      		
				      	{% else %}
				      	    <a class="btn btn-primary" href="{% url 'customers:login' %}">Reservar</a>
				      	{% endif %}
				      	{% if user.premium or user.admin or user.cliente %}
					      	{% if hospedaje.customer != user %}
						      	{% if user in hospedaje.favoritos.all %}
						      	    <a href="{% url 'hospedajes:make_favorito' user.id hospedaje.id %}">
							      		<span class="glyphicon glyphicon-heart"></span>
							      	</a>
						      	{% else %}
							      	<a href="{% url 'hospedajes:make_favorito' user.id hospedaje.id %}">
							      		<span class="glyphicon glyphicon-heart-empty"></span>
							      	</a>
						      	{% endif %}
						    {% endif %}
						{% endif %}
					    <span class="glyphicon glyphicon-thumbs-up" style="color:green; margin-left:4px">{{hospedaje.calificacion}}/10</span>
				  </div>

		    </div>
	</div>
	{% if hospedaje.customer != user %}
		<h3>Preguntar</h3>
		<div>
	            	
	        {% if user.premium or user.admin or user.cliente %}
				<form action="." method="post">
		            {% csrf_token %}
		            {{ form|bootstrap }}
		            <div class="form-group">
		          		    <button type="submit" class="btn btn-primary">Preguntar</button>
		            </div>
		        </form>
      		{% else %}
      		    <a href="{% url 'customers:login' %}"class="btn btn-primary">Preguntar</a>
      		{% endif %}
		</div>
    {% endif %}
    </br>
    </br>
    {% for pregunta in all_preguntas %}   
		<div class="panel panel-default">
			    <div class="panel-heading">
				    Pregunta {{pregunta.fecha}}
				</div>
				<div class="panel-body">
					<p>{{pregunta.customer.apellido}} {{pregunta.customer.nombre}}: {{pregunta.pregunta}}</p>
		        </div>
		</div>
		{% if pregunta.respuesta %}
			<div class="panel panel-default" style="margin-left: 70px;">
				        <div class="panel-heading">
						    Respuesta
						</div>
						<div class="panel-body">
							<p>{{pregunta.respuesta}}</p>
				        </div>
			</div>
		{% endif %}
		</br>
	{% endfor %}
</div>

{% endblock content %}