{% extends 'base.html' %}
{% load bootstrap %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="container"> 
	<h3> Detalles de hospedaje</h3>
	<div class="panel panel-default">
			<div class="panel-body">

				
				  	<div class="col-xs-6 ">
				      	    <img class="media-object " style="max-width: 95%;" src="{{ hospedaje.foto_1.url }}" alt="...">
				  	</div>
			        <div class="col-xs-6 ">
					    <h4 class="media-heading">{{hospedaje.titulo}}</h4>
					    <p>{{ hospedaje.descripcion }}</p>
					    <p>Tipo de Hospedaje: {{hospedaje.tipo.descripcion}}</p>
					    <p>Localidad: {{ hospedaje.localidad }}</p>
					    <p>Ciudad: {{ hospedaje.ciudad }}</p>
					    <p>Calle: {{ hospedaje.direccion }}</p>
					    <p>Capacidad:{{ hospedaje.capacidad }}</p>
				  		{% if user.premium or user.admin or user.client %}
					    	<a class="btn btn-primary" href="#">Reservar</a>
				      		
				      	{% else %}
				      	    <a class="btn btn-primary" href="{% url 'customers:login' %}">Reservar</a>
				      	{% endif %}
					    <span class="glyphicon glyphicon-thumbs-up" style="color:green; margin-left:4px">80%</span>
				  </div>

		    </div>
	</div>
	<h3>Preguntas</h3>
	<div>
	    <textarea style="width: 912px; height: 78px;"></textarea>
	    {% if user.premium or user.admin or user.client %}
		    <a href="#" class="btn btn-primary">Comentar</a>	      		
      	{% else %}
      	    <a href="{% url 'customers:login' %}" class="btn btn-primary">Comentar</a>
      	{% endif %}
	     

	</div>
    </br>
    </br>
	<div class="panel panel-default">
		    <div class="panel-heading">
			    Pregunta #1
			</div>
			<div class="panel-body">
				<p>-Robertito Funes: Tiene disponibilidad para la semana que viene?..</p>
	        </div>
	        <div class="panel-heading">
			    Respuesta #1
			</div>
			<div class="panel-body">
				<p>-Propietario: Para Que dia? Consulta las fechas disponibles de reservas saludos</p>
	        </div>
	</div>
	</br>
    <div class="panel panel-default">
	        <div class="panel-heading">
			    Pregunta #2
			</div>
			<div class="panel-body">
				<p>-Carola Casini: Pueden entrar 4 personas?..</p>
	        </div>
	</div>
	</br>
    <div class="panel panel-default">
	        <div class="panel-heading">
			    Pregunta #3
			</div>
			<div class="panel-body">
				<p>-Osvaldo Daniel: Aceptan pago con Tarjeta?..</p>
	        </div>
	        <div class="panel-heading">
			    Respuesta #3
			</div>
			<div class="panel-body">
				<p>-Propietario: No me gusta declarar mis impuestos, efectivo solamente. Saludos</p>
	        </div>

	</div>
</div>

{% endblock content %}